$color-geometry: #dedede;
$color-labels: #a3a3a3;
$color-labels-text-fill: #523735;
$color-labels-text-stroke: #f5f1e6;
$color-admin-geometry-stroke: #c9b2a6;
$color-admin-land-parcel-geometry-stroke: #dcd2be;
$color-admin-land-parcel-labels-text-fill: #ae9e90;
$color-landscape-natural: #92dd95;
$color-landscape-natural-landcover: #ededed;
$color-poi-geometry: #dfd2ae;
$color-poi-labels-text-fill: #93817c;
$color-poi-park-geometry-fill: #a5b076;
$color-poi-park-labels-text-fill: #447530;
$color-road: #9c9c9c;
$color-road-geometry: #f5f1e6;
$color-road-geometry-fill: #bfbfbf;
$color-road-geometry-stroke: #bfbfbf;
$color-road-arterial-geometry: #fdfcf8;
$color-road-highway-geometry: #f8c967;
$color-road-highway-geometry-stroke: #e9bc62;
$color-road-highway-controlled-access-geometry: #e98d58;
$color-road-highway-controlled-access-geometry-stroke: #db8555;
$color-road-local-labels-text-fill: #806b63;
$color-transit-line-geometry: #dfd2ae;
$color-transit-line-labels-text-fill: #8f7d77;
$color-transit-line-labels-text-stroke: #ebe3cd;
$color-transit-station-geometry: #dfd2ae;
$color-water-geometry-fill: #579bf4;
$color-water-labels-text-fill: #92998d;

@mixin mapStyles {
  .geometry {
    color: $color-geometry;
  }

  .labels {
    color: $color-labels;
    visibility: simplified;
  }

  .labels-text-fill {
    color: $color-labels-text-fill;
  }

  .labels-text-stroke {
    color: $color-labels-text-stroke;
  }

  .administrative-geometry {
    visibility: off;
  }

  .administrative-geometry-stroke {
    color: $color-admin-geometry-stroke;
  }

  .administrative-land-parcel-geometry-stroke {
    color: $color-admin-land-parcel-geometry-stroke;
  }

  .administrative-land-parcel-labels-text-fill {
    color: $color-admin-land-parcel-labels-text-fill;
  }

  .landscape-natural {
    color: $color-landscape-natural;
  }

  .landscape-natural-landcover {
    color: $color-landscape-natural-landcover;
  }

  .poi {
    visibility: off;

    &.geometry {
      color: $color-poi-geometry;
    }

    &.labels-text-fill {
      color: $color-poi-labels-text-fill;
    }

    &.park-geometry-fill {
      color: $color-poi-park-geometry-fill;
    }

    &.park-labels-text-fill {
      color: $color-poi-park-labels-text-fill;
    }
  }

  .road {
    color: $color-road;

    &.geometry {
      color: $color-road-geometry;
    }

    &.geometry-fill {
      color: $color-road-geometry-fill;
    }

    &.geometry-stroke {
      color: $color-road-geometry-stroke;
    }

    &.arterial-geometry {
      color: $color-road-arterial-geometry;
    }

    &.highway-geometry {
      color: $color-road-highway-geometry;
    }

    &.highway-geometry-stroke {
      color: $color-road-highway-geometry-stroke;
    }

    &.highway-controlled-access-geometry {
      color: $color-road-highway-controlled-access-geometry;
    }

    &.highway-controlled-access-geometry-stroke {
      color: $color-road-highway-controlled-access-geometry-stroke;
    }

    &.local-labels-text-fill {
      color: $color-road-local-labels-text-fill;
    }

    &.labels-icon {
      visibility: off;
    }
  }

  .transit {
    visibility: off;

    &.line-geometry {
      color: $color-transit-line-geometry;
    }

    &.line-labels-text-fill {
      color: $color-transit-line-labels-text-fill;
    }

    &.line-labels-text-stroke {
      color: $color-transit-line-labels-text-stroke;
    }

    &.station-geometry {
      color: $color-transit-station-geometry;
    }
  }

  .water {
    &.geometry-fill {
      color: $color-water-geometry-fill;
    }

    &.labels-text-fill {
      color: $color-water-labels-text-fill;
    }
  }
}