$border: 0.5em;

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $border;
    align-items: center;
    align-items: center;
    border-radius: $border;
    height: fit-content;

}

.mainText{
    font-weight: bold;
    font-size: 1em;
}

.infoImg{
    border-radius: $border;
}