.container{
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-left: 5.9em;
    background: white;

    @media(max-width: 1024px) {
      width: 50%;
    }

    @media(max-width: 680px) {
      width: 70% ;
    }
}