html,
body {
  margin: 0;
  padding: 0;
  min-height: 90vh;
  overflow: hidden;
}

.map-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  position: relative;
}

.map-wrapper {
  grid-column: 2 / 3;
  overflow: hidden;
  z-index: 1;
}